<div id="card-details-container" style="" *ngIf="details">
<!--  <div id="card-mask" style="padding: 100%; background: rgba(0,0,0,0.7); position: fixed;"></div>-->
  <div class="card" id="card" style="width: 70%; height: 60%; z-index: 19; position: fixed; align-content: center; top: 10%; bottom: auto;">
    <div class="card-header" *ngIf="details.name">{{details.name}}
      <button type="button" class="close" aria-label="Close" (click)="closeDetails()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="row">
      <img class="card-img-overlay col-md-2" [src]="'https://image.tmdb.org/t/p/w500/' + details.profile_path" alt="" style="margin-top: 10%;width: 270px;">
      <div class="row container-fluid" style="display: block; position: relative; margin-left: 20%; margin-top: 10%">
        <div class="" *ngIf="details.birthday">Birth: {{details.birthday}}</div>
        <div class="" *ngIf="details.place_of_birth">Birth Place: {{details.place_of_birth}}</div>
        <div class="" *ngIf="gender">Gender: {{gender}}</div>
        <div class="" *ngIf="details.known_for_department">Known for: {{details.known_for_department}}</div>
        <div class="" *ngIf="details.also_known_as">Also known as: {{details.also_known_as}}</div>
        <div *ngIf="external">
        <div *ngIf="external.imdb_id" style="display: inline; margin-right: 10px;">
          <a target="_blank"
             ngbPopover="Visit IMDB"
             triggers="mouseenter:mouseleave"
             style="font-size: 30px; color: darkgoldenrod;" href="https://www.imdb.com/name/{{external.imdb_id}}" target="_blank">
            <i class="fab fa-imdb"></i>
          </a>
        </div>

        <div *ngIf="external.instagram_id" style="display: inline;margin-right: 10px;">
          <a target="_blank"
             ngbPopover="Visit Instagram"
             triggers="mouseenter:mouseleave"
             style="font-size: 30px; color: purple;" href="https://www.instagram.com/{{external.instagram_id}}" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
        </div>


          <div *ngIf="external.facebook_id" style="display: inline;margin-right: 10px;">
            <a target="_blank"
               ngbPopover="Visit Facebook"
               triggers="mouseenter:mouseleave"
               style="font-size: 30px; color: #0926cd;" href="https://www.facebook.com/{{external.facebook_id}}" target="_blank">
              <i class="fab fa-facebook-square"></i>
            </a>
          </div>


          <div *ngIf="external.twitter_id" style="display: inline;">
            <a class="twitter-share-button"
               ngbPopover="Visit Twitter"
               triggers="mouseenter:mouseleave"
               href="https://www.twitter.com/{{external.twitter_id}}"
               target="_blank"
               data-size="large"
               style="font-size: 30px; color: #1ea2f1; margin-right: 10px">
              <i class="fab fa-twitter"></i>
            </a>
          </div>
        </div>
      </div>

    </div>

    <div class="row" style="width: 90%; margin-left: 10%">
      <div>Biography</div>
      <div>{{details.biography}}</div>
    </div>

  </div>
</div>

