.subtitle {
    color: white;
    font-size: 28px;
    margin-top: 100px;
    margin-left: 200px;
  }

.home-layout{
    min-height: fit-content;
    display: flex;
    flex-direction: column;
}


app-trending-carousel {
  text-align: center;
}
