ngb-carousel {
  /*width: 1200px;*/
  /*text-align: center;*/
  margin-top: 2%;
  /*margin-left: 20%;*/
  outline: none;
  /*height: 300px;*/
  /*overflow: hidden;*/
  padding-left: 10%;
  padding-right: 2%;
  background-color: transparent;
}

.wrapper:hover{
  transform: scale(1.05);
}

.six-wrapper {
  display: inline;
}

.wrapper {
  display: inline;
  padding-right: 2.5%;
}

.wrapper > a > img {
  width: 13%;
}

.wrapper > a > img:hover {
  transform: scale(1.05);
}

.six-wrapper-container {
  margin-bottom: 7%;
}
