<div class="container box" *ngIf="movieDetails">

  <div class=" top-row">
    <app-video class="video col-8" [key]="key"></app-video>
    <div class="col">
      <div class="card" *ngIf="movieDetails">
        <div class="card-body">
          <h5 class="card-title row">{{ movieDetails.title }}</h5>
          <p class="card-text row">{{ movieDetails.tagline }}</p>
          <div class="row">
            <p class="card-text" *ngIf="releaseYear">{{ releaseYear }}&nbsp;&nbsp;|</p>
            <p class="card-text">&nbsp;&nbsp;&#9733; &nbsp;{{ voteAverage }}&nbsp;&nbsp;|</p>
            <p class="card-text" *ngIf="hours && minutes">&nbsp;&nbsp;{{ hours }}hrs&nbsp;{{ minutes }}mins &nbsp;</p>
          </div>
          <div class="row">
            <p class="subtitle">Genres:</p>
            <p class="card-text grey-text" *ngIf="genres">&nbsp;{{ genres }}</p>
          </div>
          <div class="row">
            <p>Spoken Languages:</p>
            <p class="card-text grey-text" *ngIf="spokenLanguages">&nbsp;{{ spokenLanguages }}</p>
          </div>
          <a href="#" class="btn btn-primary row">Add to watchlist</a>
        </div>
      </div>
    </div>

  </div>

  <div class="">
    <p>Description</p>
    <p class="grey-text" *ngIf="overview">{{ overview }}</p>
  </div>

  <div>
    <p>Share</p>
    <a class="twitter-share-button"
       href="https://twitter.com/intent/tweet?text=Watch%20{{ movieDetails.title }}%0Dhttps://www.youtube.com/watch?v={{ key }}%0D%0A%23USC%20%23CSCI571%20%23FightOn"
       data-size="large"
       style="font-size: 36px; color: #1ea2f1;">
      <i class="fab fa-twitter"></i>
    </a>
    <a target="_blank" style="font-size: 36px; color: #0926cd;" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">
      <i class="fab fa-facebook-square"></i>
    </a>
  </div>

  <div class="cast-crew" >
    <div class="card" style="width: 18rem; background: white; color: black">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>

  </div>


</div>


<!--<div class="row test">-->
<!--  <div class="col">1</div>-->
<!--  <div class="col">2</div>-->
<!--  <div class="col">3</div>-->
<!--</div>-->
<!--<div class="row test">-->
<!--  <div class="col">1</div>-->
<!--  <div class="col">2</div>-->
<!--  <div class="col">3</div>-->
<!--</div>-->
