.test {
  color: white;
  margin-top: 5%;
}


.grey-text {
  color: darkgrey;
}

.box {
  color: white;
  width: 80%;
  margin-top: 50px;
}

.cast-crew-container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  width: 1100px;
  align-content: center;
  margin-left: 11%;
}

.first-row-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.review-content {
  margin-top: 0px;
  overflow: hidden;
  height: 52px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 5px;
  font-size: 12px;
}

.init {
  display: none;
}

.cast-member:hover {
  cursor: pointer;
}
