.carousel {
}

ngb-carousel {
  width: min-content;
  text-align: center;
  margin-top: 5%;
  margin-left: 10%;
  left:auto;
  right: auto;
  outline: none;
}

.white-text {
  color: white;
  margin-top: 20px;
}

.mask:hover{
  display: block;
}

.mask {
  /*display: none;*/
  margin-top: -70px;
  position: absolute;
  padding-bottom: 10%;
  width: 800px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 0));
}

.wrapper > a > img {
  width: 1000px;
}

.wrapper {
  height: 350px;
  overflow: hidden;
}
