.my-list-container {
  /*height: 73vh;*/
  margin-left: 10%;
  width: 80%;
}

.watchlist-six-wrapper {
  height: min-content;
  /*margin-left: 10%;*/
  width: 100%;
  display: flex;
  text-align: left;
}


.watchlist-wrapper {
  height: min-content;
  width: 16%;
  margin-right: 2%;
}

.watchlist-wrapper > img {
  width: 100%;
}


.watchlist-wrapper > img:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  top: 50%;
  /*bottom: 0;*/
  left: 0;
  right: 0;
  height: 50%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: linear-gradient(0deg, rgba(255, 0, 0, 1) 10%, rgba(255, 255, 255, 0));
}

.wrapper:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 10%;
  left: 15%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: right;
}
