<div class="container-fluid box" *ngIf="tvShowDetails">

  <div class="first-row-container">
    <div style="width: 750px">
      <app-video class="video" [key]="key"></app-video>
    </div>
    <div>
      <div class="card" *ngIf="tvShowDetails" style="background-color: transparent;
  color: white; width: 350px; ">
        <div class="card-body">
          <h5 class="card-title row" style="font-size: 46px; font-weight: normal">{{ tvShowDetails.name }}</h5>
          <p class="card-text row">{{ tvShowDetails.tagline }}</p>
          <div class="row">
            <p class="card-text" *ngIf="releaseYear">{{ releaseYear }}&nbsp;&nbsp;|</p>
            <p class="card-text">&nbsp;&nbsp;&#9733; &nbsp;{{ voteAverage }}&nbsp;&nbsp;|</p>
            <p class="card-text" *ngIf="hours && minutes">&nbsp;&nbsp;{{ hours }}hrs&nbsp;{{ minutes }}mins &nbsp;</p>
          </div>
          <div class="row">
            <div class="subtitle">Genres:</div>
            <div class="card-text grey-text" style="display: inline" *ngIf="genres">&nbsp;{{ genres }}</div>
          </div>
          <div class="row">
            <p>Spoken Languages:</p>
            <p class="card-text grey-text" *ngIf="spokenLanguages">&nbsp;{{ spokenLanguages }}</p>
          </div>
          <div id="watchlist-container">
            <button id="watchlist-btn"class="btn btn-primary row">Add to watchlist</button>
          </div>
        </div>
      </div>
    </div>


  </div>

  <div style="display: block; margin-bottom: 20px;">
    <div>Description</div>
    <p class="grey-text" *ngIf="overview">{{ overview }}</p>
  </div>

  <div style="display: block; margin-bottom: 40px;">
    <div>Share</div>
    <a class="twitter-share-button"
       href="https://twitter.com/intent/tweet?text=Watch%20{{ tvShowDetails.title }}%0Dhttps://www.youtube.com/watch?v={{ key }}%0D%0A%23USC%20%23CSCI571%20%23FightOn"
       data-size="large"
       style="font-size: 30px; color: #1ea2f1; margin-right: 10px">
      <i class="fab fa-twitter"></i>
    </a>
    <a target="_blank" style="font-size: 30px; color: #0926cd;" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">
      <i class="fab fa-facebook-square"></i>
    </a>
  </div>

</div>

<!--<div style="color: white; font-size: 36px; font-weight: bold; margin-left: 11%; margin-bottom: 10px">Full Cast and Crew</div>-->
<div style="color: white; font-size: 36px; font-weight: bold; margin-left: 11%; margin-bottom: 10px">Full Cast and Crew</div>
<div class="outer-container  container-fluid">
  <div class="cast-crew-container">
    <div *ngFor="let person of cast">
      <div *ngIf="person.profile_path">
        <div (click)="getCastDetails(person.id)" class="card cast-member" style="width: 175px; height: 380px; align-items: center; margin-right: 10px; border-radius: 20px; overflow: hidden; border: none">
          <div class="">
            <img class="card-img-top" [src]="'https://image.tmdb.org/t/p/w500/' + person.profile_path" alt="Card image cap" style="width: 100%;">
          </div>
          <div class="card-body" style="text-align: center">
            <p class="card-text" style="margin-top: -7px; font-size: 14px; font-weight: bold; width: 170px">{{ person.name }}</p>
            <p class="card-text" style="font-weight: bolder; margin-top: -7px;">AS</p>
            <p class="card-text" style="margin-top: -7px; font-size: 14px; ">{{ person.character }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="width: 100%; margin-left: 11%; margin-top: 100px;" class="row">
  <div style="color: white; font-weight: bolder; font-size: 36px; ">Reviews</div>
  <div style="color: darkgray; font-size: 36px; display: inline; font-weight: bolder; margin-left: 10px;" *ngIf="reviews">{{ reviews.length }}</div>
</div>
<div *ngIf="reviews" style="margin-left: 11%; margin-top:20px;">
  <div *ngFor="let review of reviews">
    <div class="card" style="width: 1100px; height: 220px; border-radius: 10px; margin-bottom: 20px;" >
      <img class="card-img-overlay" style="width: 100px; height: 100px; border-radius: 50%; margin-left: 10px;"  [src]="review.avatar_path" alt="">

      <div class="card-body" style="margin-left: 200px;">
        <p class="card-text" style="font-size: 28px; font-weight: normal; ">A review created by {{review.author}}</p>
        <p class="card-text" style="color: gray">Written by {{review.author}} on {{review.created_at}}</p>
        <p class="card-text review-content">{{review.content}}</p>
        <a [href]="review.url" style="margin-bottom: -10px; text-decoration: underline">Read the rest</a>
      </div>
    </div>
  </div>
</div>



<div style="width: 100%; margin-left: 11%; margin-top: 100px;" class="row">
  <div style="color: white; font-weight: bolder; font-size: 36px; ">Recommended TV Shows</div>
</div>
<div *ngIf="recommendedTvShows">
  <div *ngIf="recommendedTvShows.results.length !== 0">
    <app-multi-carousel [data]="recommendedTvShows"></app-multi-carousel>
  </div>
</div>



<div style="width: 100%; margin-left: 11%; margin-top: 100px;" class="row">
  <div style="color: white; font-weight: bolder; font-size: 36px; ">Similar TV Shows</div>
</div>
<div *ngIf="similarTvShows">
  <div *ngIf="similarTvShows.results.length !== 0">
    <app-multi-carousel [data]="similarTvShows"></app-multi-carousel>
  </div>
</div>


